
@model List<restReview.Models.RestaurantClassificationsViewModel>

@{
    ViewData["Title"] = "Restaurant Classifications";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h2>@ViewData["Title"]</h2>
<hr />
<AuthorizeView>
    <Authorized>
        @if(!string.IsNullOrWhiteSpace(successMessage))
        {
            <div class="alert alert-success">
                <b>Success. </b>@successMessage
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
            </div>

        }
        else if(!string.IsNullOrWhiteSpace(errorMessage))
        {
            <div class="alert alert-danger">
                <b>Error. </b>@errorMessage
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
            </div>
        }
        <form>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var row in Model)
                        {
                            <tr>
                                <td>@row.ID</td>
                                <td>@row.ClassificationName</td>
                                <td><div class="btn-group"><a class="btn btn-primary" asp-action="Edit" asp-controller="RestaurantClassifications" asp-route-id="@row.ID">Edit</a></div></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <div>No Restaurant Classifications</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button asp-action="Create" asp-controller="RestaurantClassifications" class="btn btn-primary">Add</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in</p>
    </NotAuthorized>
</AuthorizeView>
